<div class="firstPage-main">
  <ul class="firstPage-main-slideshow">
    @@include('./main-slideshow-slide.html', {
      "method": "createTangle",
      "description":
        "It is <strong>IOTA tangle</strong>"
    })

    @@include('./main-slideshow-slide.html', {
      "method": "createMLNodes",
      "description":
        "Any IOTA node can be turned into a <strong>machine learning node</strong>"
    })

    @@include('./main-slideshow-slide.html', {
      "method": "createMLCloud",
      "description":
        "Machine Learning nodes create <strong>CognIOTA cluster.</strong>"
    })

    @@include('./main-slideshow-slide.html', {
      "method": "shopRequests",
      "description":
        "IOTA nodes <strong>request</strong> machine learning <strong>services</strong> from CognIOTA."
    })

    @@include('./main-slideshow-slide.html', {
      "method": "mlSendsResponse",
      "description":
        "CognIOTA <strong>finds the solution</strong> for the request."
    })

    @@include('./main-slideshow-slide.html', {
      "method": "mlAuction",
      "description":
        "It uses <strong>auctions</strong> for finding the best task executer."
    })

    @@include('./main-slideshow-slide.html', {
      "method": "mlChooseProvider",
      "description":
        "CognIOTA powers <br> <strong>the economy of IoT</strong>."
    })
  </ul>
</div>
