<div class="firstPage-main">
  <ul class="firstPage-main-slideshow">
    <li class="firstPage-main-slideshow-item" method="createTangle">
      <div class="firstPage-main-slideshow-item__svg" svg-parent></div>
      <div class="firstPage-main-slideshow-item__description">
        <div>
          It is
          <strong>IOTA tangle</strong>.
        </div>
      </div>
    </li>

    <li class="firstPage-main-slideshow-item" method="createMLNodes">
      <div class="firstPage-main-slideshow-item__svg" svg-parent></div>
      <div class="firstPage-main-slideshow-item__description">
        <div>
          Any IOTA node can be turned into a
          <strong>machine learning node</strong>.
        </div>
      </div>
    </li>

    <li class="firstPage-main-slideshow-item" method="createMLCloud">
      <div class="firstPage-main-slideshow-item__svg" svg-parent></div>
      <div class="firstPage-main-slideshow-item__description">
        <div>
          Machine Learning nodes create
          <strong>CognIOTA cluster.</strong>
        </div>
      </div>
    </li>

    <li class="firstPage-main-slideshow-item" method="shopRequests">
      <div class="firstPage-main-slideshow-item__svg" svg-parent></div>
      <div class="firstPage-main-slideshow-item__description">
        <div>
          IOTA nodes <strong>request</strong>
          machine learning <strong>services</strong>
          from CognIOTA.
        </div>
      </div>
    </li>

    <li class="firstPage-main-slideshow-item" method="mlSendsResponse">
      <div class="firstPage-main-slideshow-item__svg" svg-parent></div>
      <div class="firstPage-main-slideshow-item__description">
        <div>
          CognIOTA <strong>finds the solution</strong>
          for the request.
        </div>
      </div>
    </li>

    <li class="firstPage-main-slideshow-item" method="mlAuction">
      <div class="firstPage-main-slideshow-item__svg" svg-parent></div>
      <div class="firstPage-main-slideshow-item__description">
        <div>
          It uses <strong>auctions</strong>
          for finding the best task executer.
        </div>
      </div>
    </li>

    <li class="firstPage-main-slideshow-item" method="mlChooseProvider">
      <div class="firstPage-main-slideshow-item__svg" svg-parent></div>
      <div class="firstPage-main-slideshow-item__description">
        <div>
          CognIOTA powers <br>
          <strong>the economy of IoT</strong>.
        </div>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript">
  (function() {
    if (SVG.supported) {
      var parent = document.querySelector('#firstPage ul.firstPage-main-slideshow');
      var slideshow = new TangleSlideshow(parent);
      // runMainSlideShow(parent);
    } else {
      alert('SVG not supported');
    }
  })();
</script>