<div id="firstPage">
  <header class="firstPage-header">
    <div class="firstPage-header__bg">
      <img src="dist/logo/title.png" class="firstPage-header__title">
    </div>
    <div>
      <div class="firstPage-header__logo">
        <img src="dist/logo/l.png" id="logo">
      </div>
    </div>
  </header>

  <h1 class="firstPage__title">Machine Learning as a service</h1>

  <div class="firstPage-main-container">
    @@include('./main-slideshow.html')
  </div>

  <div>
    <a class="btn" id="openProtocolExample">
      See Protocol Example
    </a>
  </div>
</div>