<ul class="secondPage-slideshow">
  @@include('./protocol-slideshow-slide.html', {
    "method": "showDescription",
    "title": "City's Map",
    "header": ""
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "showML",
    "title": "City's Map",
    "header": "All participants are connected to <strong>cognIOTA</strong>."
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "initialRequest",
    "title": "Stage I: Shop's Initial Request",
    "header": "When a <strong>shop</strong> needs to replenish its shelves, it sends a request to <strong>cognIOTA</strong>."
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "providersAuction",
    "title": "Stage II: Warehouses Auction",
    "header":
    "<strong>CognIOTA</strong> conducts <strong>auction</strong> to find the <strong>warehouse</strong> with the best offerings, such as <strong>price</strong>, <strong>location</strong>, <strong>reputation</strong>. Finally, asks <strong>IOTA</strong> to sign contract."
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "deliveryAuction",
    "title": "Stage III: Cars Delivery Auction",
    "header":
    "<strong>CognIOTA</strong> conducts auction to find the self-driving cars with the best offerings, such as <strong>price</strong>, <strong>delivery time</strong>, <strong>reputation</strong>. Finally, asks <strong>IOTA</strong> to sign contract."
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "deliveryProcess",
    "title": "Stage IV: Delivery Escort Service",
    "header":
    "The <strong>car</strong> uses CognIOTA's <strong>machine learning service</strong> to find the optimal <strong>delivery route</strong>. <strong>CognIOTA</strong> provides on the route escort service to react at the constantly changing environment."
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "paymentProcess",
    "title": "Stage V: Payment",
    "header":
    "When all <strong>contracts</strong> conditions are met. <strong>Warehouse</strong>, <strong>car</strong>, and <strong>CognIOTA</strong> are paid for their services with <strong>IOTAs</strong>."
  })

</ul>
