<div id="secondPage">
  <div class="secondPage-content">
    <div class="secondPage-header">
      <div class="secondPage-header__btn" id="closeProtocolExample">
        <- Back To The Concept
      </div>
    </div>

    <div class="secondPage-content__main" >

      @@include('./protocol-slideshow.html')

<!--       <ul class="secondPage-nav">
        <li class="secondPage-nav__btn secondPage-nav__btn--prev"></li>
        <li class="secondPage-nav__btn secondPage-nav__btn--play"></li>
        <li class="secondPage-nav__btn secondPage-nav__btn--next"></li>
      </ul> -->
    </div>

    <script type="text/javascript">
    (function() {
      var slideshow;
      var openProtocolBtn = document.querySelector('#openProtocolExample');
      var bbox = openProtocolBtn.getBoundingClientRect();

      var secondPage = document.querySelector('#secondPage');
      secondPage.style.left = 0;
      secondPage.style.top = 0;
      secondPage.style.width = '100%';
      secondPage.style.height = '100%';

      var parent = document.querySelector('#secondPage ul.secondPage-slideshow');
      if (SVG.supported) {
        // var nav = document.querySelector('#secondPage ul.secondPage-nav');
        var nav;
        slideshow = new ProtocolSlideshow(parent, nav);
      } else {
        alert('SVG not supported');
      }

      secondPage.style.left = bbox.x + 'px';
      secondPage.style.top = bbox.y + 'px';
      secondPage.style.width = bbox.width + 'px';
      secondPage.style.height = bbox.height + 'px';

      var isOpen = false;
      var closeProtocolBtnID = 'closeProtocolExample';
      var closeProtocolBtn = document.getElementById(closeProtocolBtnID);
      function toggle(event) {
        if (isOpen === true) {
          document.body.className = '';
          slideshow.stop();
          isOpen = false;
          closeProtocolBtn.removeEventListener('click', toggle);
          setTimeout(function () {
            secondPage.addEventListener('click', toggle);
          }, 200);
        } else {
          document.body.className = 'secondPage';
          setTimeout(function () {
            slideshow.play();
            closeProtocolBtn.addEventListener('click', toggle);
          }, 200);
          isOpen = true;
          secondPage.removeEventListener('click', toggle);
        }
      };
      secondPage.addEventListener('click', toggle);
    })();
  </script>

  </div>
</div>