<li class="secondPage-slideshow-item" method="@@method">
  <div class="secondPage-slideshow-item__inner" container >
    <div class="secondPage-slideshow-item__bg" bg-parent ></div>
    <div class="secondPage-slideshow-item__svg" svg-parent >
      <h2 class="secondPage-slideshow-item__title"> @@title </h2>
      <h1 class="secondPage-slideshow-item__header">
        <div header="@@header"> @@header</div>
      </h1>
    </div>
    <div class="secondPage-slideshow-console" console>
      <div class="secondPage-slideshow-console__author" console-author></div>
      <div class="secondPage-slideshow-console__body" console-body> </div>
    </div>
  </div>
</li>