<ul class="secondPage-slideshow">
  @@include('./protocol-slideshow-slide.html', {
    "method": "showDescription",
    "title": "Map Description",
    "header": ""
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "showML",
    "title": "Map Description",
    "header": "All Participants Connected To cognIOTA."
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "initialRequest",
    "title": "Stage I: Initial Request",
    "header": "A shop sents a request to cognIOTA."
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "providersAuction",
    "title": "Stage II: Providers Auction",
    "header":
      "cognIOTA uses <strong>auctions</strong> to find the best match,  considering different conditions, such as <strong>price</strong>, <strong>delivery time</strong>, <strong>quality</strong> and etc."
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "deliveryAuction",
    "title": "Stage III: Delivery Auction",
    "header":
      "here some text about cars auctions"
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "deliveryProcess",
    "title": "Stage IV: Delivery",
    "header":
      "here some text about delivery"
  })

  @@include('./protocol-slideshow-slide.html', {
    "method": "paymentProcess",
    "title": "Stage V: Payment",
    "header":
      "here some text about payment"
  })

</ul>