// $darkblue: #091420;
$darkblue: #2c414d;

#firstPage {
  height: 100%;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-image: url(bg/7.png);

  header {
    height: 80px;
    position: relative;
    text-align: center;
    position: relative;
    z-index: 10;

    .logo {
      display: inline-block;
      margin-top: -25px;
      height: 50px;

      img {
        height: 100%;;
      }
    }

    .title {
      background: white;
      height: 45px;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2);

      img {
        margin-top: 5px;
        height: 22px;
      }
    }
  }

  h1 {
    margin:0;
    line-height: 1.5;
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
  }

  .main {
    margin-top: 30px;
    display: inline-block;
    width: 500px;
    height: 300px;
    position: relative;

    .svg {
      // background-color: rgba($darkblue, 0.05);
      background-color: rgba($darkblue, 0.2);
      border-radius: 2px;

      svg {
        width: 500px;
        height: 300px;
        overflow: inherit;
        transition: all 300ms cubic-bezier(0.6, 0.04, 0.98, 0.335);

        .tangle-node {
          fill: red;
          stroke: red;
        }
      }
    }

    [description] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 300ms cubic-bezier(0.6, 0.04, 0.98, 0.335) 20ms;

      opacity: 0;

      padding: 20px;
      font-size: 30px;
      letter-spacing: 0.1em;
      line-height: 1.5;
      border-radius: 2px;

      strong {
        color: #00ff62;
      }

      &.active {
        transition-delay: 0;
        background-color: rgba($darkblue, 0.05);
        box-shadow: 0 0 11px 6px rgba($darkblue, 0.1);
        opacity: 1;
      }
    }
  }

  #openProtocol {
    margin-top: 40px;
  }

}

