 body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin:0;

  font-family: 'Rajdhani', sans-serif;
  color: #fff;
  text-align: center;
}


.btn {
  cursor: pointer;
  display: inline-block;
  background: #43a047;
  padding: 10px 20px;
  font-size: 18px;

  // &[active] {
  //   background: #b2ff59;
  //   color: #43a047;
  // }
}


.blured {
  filter: blur(25px) grayscale(30%) brightness(150%);
}

.overflowed {
  transition-delay: 20ms;
  transition-timing-function: ease-in;
  filter: blur(13px) grayscale(30%)  brightness(90%);
  opacity: 0.3;
}


.flipped {
  transform: rotateY(180deg);
  transform-origin: 50% 50% 0;
}

h1 {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.15em;
}

h2 {
  // text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.15em;
}