$darkblue: #091420;

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin:0;

  background-size: cover;
  background-image: url(7.png);
  font-family: 'Rajdhani', sans-serif;
  color: #fff;
  text-align: center;
}

#logo {
  width: 230px;
}

#main h1 {
  margin:0;
  text-transform: uppercase;
  // max-width: 800px;
  line-height: 1.5;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

#main {
  // display: none;
}

#description {
  margin-top: 40px;
  display: inline-block;
  width: 500px;
  height: 300px;
  position: relative;

  #svg {
    background-color: rgba($darkblue, 0.05);
    border-radius: 2px;

    svg {
      width: 500px;
      height: 300px;
      overflow: inherit;
      transition: all 200ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
  }

  #protocolDescription {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms cubic-bezier(0.6, 0.04, 0.98, 0.335) 10ms;

    opacity: 0;

    padding: 20px;
    font-size: 30px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    border-radius: 2px;

    strong {
      color: #00ff62;
      // color: #2bd46c;
    }

    &.active {
      transition-delay: 0;
      background-color: rgba($darkblue, 0.05);
      box-shadow: 0 0 11px 6px rgba($darkblue, 0.1);
      opacity: 1;
    }
  }
}


.blured {
  filter: blur(25px) grayscale(30%) brightness(150%);
}

.overflowed {
  transition-delay: 10ms;
  transition-timing-function: ease-in;
  filter: blur(13px) grayscale(30%)  brightness(90%);
  opacity: 0.3;
}
